body{
    margin: 0;
    padding: 0;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: cadetblue;
    line-height: 17px;
}
.principal{
    width: 960px;
    margin: 0 auto;

}
h2{
    font-size: 20px;
    line-height: 25px;
    color: brown;
}
h3{
    font-size: 15px;
    line-height: 25px;
    color: darkred;
}
p{
    text-align: justify;
}
header{
    background: rgb(170, 135, 235);
    height: 80px;
    padding: 0;
    margin: 0;
}
nav{
    float: right;
    padding: 23px 7px 0 0;
}
nav ul{
    list-style-type: none;
}
nav ul li{
    float: left;
    padding-left: 50px;
}
nav ul li a{
    font-size: 10px;
    line-height: 24px;
    color: lightgray;
    font-weight: bold;
}
nav ul li a:focus{
    text-decoration: none;
    color: rgb(235, 255, 122);
}
nav ul li a.ativo{
    text-decoration: none;
    color: rgb(122, 251, 255);
}
#logo{
    color: palegreen;
    font-size: 24px;
    font-family: Tahoma, sans-serif;
    padding-top: 10px;
    float: left;
}
aside{
    float: left;
    width: 360px;
}
aside figure{
    float: left;
    border-bottom: 1px solid rgb(235, 255, 122);
    padding: 0;
    margin: 0;
}
aside figure img{
    float: left;
    width: 110px;
    border: 2px solid beige;
    margin-right: 20px;
}
aside figure figcaption{
    float: left;
    width: 200px;
}
#conteudo{
    float: left;
    width: 600px;
}
.artigo{
    border-bottom: 1px solid slateblue;
    padding-bottom: 15px;
}
.image{
    float: right;
    padding: 3px 0 0 25px;
}
.caixa{
    float: left;
    width: 200px;
    padding-left: 10px;
    padding-right: 10px;
}
footer{
    background: rgb(170, 135, 235);
    font-size: 10px;
    padding: 15px 2px 0 0;
    color: teal;
    margin: 10px;
    border-top: 1px solid slategrey;
    clear: both;
    height: 40px;
}
.lf{
    float: left;
}
.rf{
    float: right ;
}
@media only screen and (max-width:600px){
    aside{
        display: none;
    }
    body,
    #logo,
    #conteudo,
    .principal,
    header,
    footer,
    .caixa,
    .artigo{
        width: 95%;
    }
    footer{
        margin-top: 0px;
        height: 0;
    }
    .lf{
        float: none;
    }
    .rf{
        float: none;
    }
    nav ul li a{
        font-size: 10px;
        line-height: 10px;
        display: inline-block;
        padding: 6px 2px;
        color: tan;
    }
    nav ul li {
        height: auto;
        width: auto;
        padding: 5px;
    }




}




